version: 1
disable_existing_loggers: False
formatters:
  simple:
    format: "%(name)s: %(message)s"

  advanced:
    format: "< %(asctime)s %(name)s %(levelname)s: %(message)s >"
    datefmt: "%m-%d-%Y %I:%M:%S %p %Z"

handlers:
  console:
    class: logging.StreamHandler
    level: INFO
    formatter: simple
    stream: ext://sys.stdout

  file:
    class: logging.FileHandler
    level: WARNING
    formatter: advanced
    filename: .pydatpiff.log
    encoding: utf8
    mode: w

loggers:
  sampleLogger:
    level: DEBUG
    handlers: [console]
    propagate: no

root:
  level: DEBUG
  handlers: [console, file]
